h2 {
  color: #f0f0f0;
}

form {
  background-color: #3b3c3d;
  padding: 20px;
  border-radius: 10px;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label,
input {
  margin: 10px 0;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #232526;
  color: #f0f0f0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #232526;
  color: #f0f0f0;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #232526;
  color: #f0f0f0;
}

#search-bar {
  width: 80%;
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #3b3c3d;
  color: #f0f0f0;
  margin: 10px;
}

#sidebar-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

#sidebar {
  width: 200px;
  height: 100%;
  background-color: #3b3c3d;
  position: absolute;
  left: -200px;
  top: 0;
  transition: all 0.3s;
}

#login-button,
#signin-button,
#logout-button,
#lbutton,
#home-button {
  background-color: #232526;
  color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  width: 150px;
}

#sidebar.active {
  left: 0;
}
