body {
  font-family: Arial, sans-serif;
  background-color: #232526;
  color: #f0f0f0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #232526;
  color: #f0f0f0;
}

#sidebar-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

#sidebar {
  width: 200px;
  height: 100%;
  background-color: #3b3c3d;
  position: absolute;
  left: -200px;
  top: 0;
  transition: all 0.3s;
}

#sidebar.active {
  left: 0;
}

#search-bar {
  width: 80%;
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #3b3c3d;
  color: #f0f0f0;
  margin: 10px;
}

#login-button,
#signin-button,
#logout-button,
#post-button,
#home-button {
  background-color: #232526;
  color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  width: 150px;
}

main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

form {
  background-color: #3b3c3d;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

label {
  width: 100%;
  text-align: left;
  margin-bottom: 0.5rem;
}

input[type="text"],
textarea {
  background-color: #232526;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

input[type="submit"] {
  background-color: #232526;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
}